*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
html{
  font-size: 18px;
  line-height: 1.7;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #eeeeee;
}
.container{
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: whitesmoke;

}
.page{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateY(-200%);
  transition: all 0.4s linear;
}
.active{
  opacity: 1;
  transform: translateY(0);
}
body {
  min-height: 99%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
}
main {
  flex-grow: 1;

}

h1{
  padding: 1rem 2rem;
  text-align: center;
}
#btn{
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 1rem;
}
#msg{
  border: 1px solid #eee;
  padding: 1rem;
  margin: 1rem;
  color: red;
}
.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 99%;
  padding-bottom: 20px;
}
.pictureCard p {
  padding: 0 0.5rem;
  margin: 0;
  text-align: left;
}
.pictureCard {
  width: 100vw;
  height: auto;
  padding: 0.5rem;
  color: darkslategray;
  border-bottom: 1px solid darksalmon;
}
.pictureCard:first-of-type {
  width: 100vw;
  height: auto;
  padding: 0.5rem;
  color: darkslategray;
  border-bottom: 1px solid darksalmon;
  border-top: 1px solid darksalmon;
}

/* star rating */
.star, .starR{
  color: goldenrod;
  font-size: 1.5rem;
  padding: 0; /* space out the stars */
  text-align: center;
}
.star::before,
.starR::before{
  content: '\2606';
  cursor: pointer;
}
.star:hover::before{
  /* the :hover should come first */
  content: '\2605';
  color: #bada55;
}
.star.rated::before,
.starR.rated::before{
  /* the :hover should come first */
  content: '\2605';
}
/* end of star */

.imageSection img {
  float: left;
  overflow: hidden;
  padding-right: 1rem;
  width: 100px;
}
.imageFull{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 2rem; */
  width: 100vw;   
}
h1,
h2,
h3,
h4 {
  text-align: center;
}
.float{
position:fixed;
width:65px;
height:65px;
bottom:40px;
right:40px;
background-color:coral;
color:black;
border-radius:50px;
text-align:center;
  box-shadow: 2px 2px 3px #999;
  font-size: 35px;
  font-weight: 900;
  text-decoration: none;
  /* margin: 2rem; */
}

.floatHide{
  display: none;
}

.backHome{
position:fixed;
top:-5px;
left:10px;
color: black;
border-radius:50px;
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
}
.backHome:hover{
color: white;
}
.pageHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background-color: coral;
  margin: 0;
  padding: 10px 0;
  top: 0;
}

button{
  width: 150px;
  height: 30px;
  background-color: coral;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}
.btn{
  width: 100vw;
  margin-bottom: 2rem;
  text-align: center;
  
  
}
p{
  padding: 20px;
}
.reviewTitle{
  font-weight: 700;
}
input{
  width: 75vw;
  height: 30px;
  padding: 5px;
}

p>audio,
    p>video,
    p>img {
      max-width: 90%;
    }

    video {
      border: 4px solid cornflowerblue;
    }

    canvas {
      border: 4px solid gold;
    }

    img {
      border: 4px solid red;
      width: 300px;
    }

    section {
      padding: 1rem;
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
    }